<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Fun Guy - Portal</title>
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <script defer src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script defer src="js/dust-full-1.1.1.js"></script>
        <script defer src="js/socket.io.min.js"></script>
        <script defer src="js/index.js"></script>
    </head>
    <body>
        <header>
            <h1>Fun Guy</h1>
            <p>
                Have some fun, guys!
            </p>
        </header>

        <section id="services">
            <ul id="services-available">
            </ul>
            <ul id="services-active">
            </ul>
        </section>

        <footer>
            Fun fun fun! Friday.. friday.. na na na YEAH!
        </footer>
    </body>
</html>
